<%# Dashboard for all projects (admin view) %>
<h2><%= l(:label_risk_dashboard) %></h2>

<div class="dashboard">
  <div class="dashboard-row">
    <div class="dashboard-card">
      <h3><%= l(:label_risks_overview) %></h3>
      <div class="dashboard-stats">
        <div class="stat-item">
          <div class="stat-value"><%= @total_risks %></div>
          <div class="stat-label"><%= l(:label_total_risks) %></div>
        </div>
        <div class="stat-item">
          <div class="stat-value"><%= @open_risks %></div>
          <div class="stat-label"><%= l(:label_open_risks) %></div>
        </div>
        <div class="stat-item">
          <div class="stat-value"><%= @closed_risks %></div>
          <div class="stat-label"><%= l(:label_closed_risks) %></div>
        </div>
      </div>
    </div>
    
    <div class="dashboard-card">
      <h3><%= l(:label_risks_by_status) %></h3>
      <div class="chart-container">
        <canvas id="risksStatusChart"></canvas>
      </div>
    </div>
    
    <div class="dashboard-card">
      <h3><%= l(:label_risks_by_strategy) %></h3>
      <div class="chart-container">
        <canvas id="risksStrategyChart"></canvas>
      </div>
    </div>
  </div>
  
  <div class="dashboard-row">
    <div class="dashboard-card wide">
      <h3><%= l(:label_risk_probability_impact_distribution) %></h3>
      <div class="chart-container">
        <canvas id="riskDistributionChart"></canvas>
      </div>
    </div>
  </div>
  
  <div class="dashboard-row">
    <div class="dashboard-card wide">
      <h3><%= l(:label_projects_with_risks) %></h3>
      <table class="list">
        <thead>
          <tr>
            <th><%= l(:label_project) %></th>
            <th><%= l(:label_total_risks) %></th>
            <th><%= l(:label_open_risks) %></th>
            <th><%= l(:label_high_risks) %></th>
            <th><%= l(:label_actions) %></th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= link_to project.name, project_path(project) %></td>
              <td><%= project.risks.count %></td>
              <td><%= project.risks.open.count %></td>
              <td><%= project.risks.open.where("probability >= ? AND impact >= ?", 50, 50).count %></td>
              <td>
                <%= link_to l(:label_view_dashboard), project_risk_dashboard_path(project), class: 'icon icon-stats' %>
                <%= link_to l(:label_view_risks), project_risks_path(project), class: 'icon icon-risk' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="dashboard-row">
    <div class="dashboard-card wide">
      <h3><%= l(:label_recent_risks) %></h3>
      <table class="list">
        <thead>
          <tr>
            <th><%= l(:label_risk_id) %></th>
            <th><%= l(:field_project) %></th>
            <th><%= l(:field_subject) %></th>
            <th><%= l(:field_magnitude) %></th>
            <th><%= l(:field_created_on) %></th>
          </tr>
        </thead>
        <tbody>
          <% @recent_risks.each do |risk| %>
            <tr class="<%= risk.css_classes %>">
              <td><%= link_to "##{risk.id}", risk_path(risk) %></td>
              <td><%= link_to risk.project.name, project_path(risk.project) %></td>
              <td><%= link_to risk.subject, risk_path(risk) %></td>
              <td><%= risk.magnitude %></td>
              <td><%= format_time(risk.created_on) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'risk_dashboard', :plugin => 'redmine_risks' %>
  <%= javascript_include_tag 'chart.min.js', :plugin => 'redmine_risks' %>
  <%= javascript_include_tag 'risk_dashboard', :plugin => 'redmine_risks' %>
  
  <script type="text/javascript">
    $(document).ready(function() {
      // Status chart data
      var statusLabels = <%= Risk::RISK_STATUS.map { |s| l("label_risk_status_#{s}") }.to_json.html_safe %>;
      var statusData = <%= Risk::RISK_STATUS.map { |s| @risks_by_status[s] || 0 }.to_json.html_safe %>;
      
      // Strategy chart data
      var strategyLabels = <%= Risk::RISK_STRATEGY.map { |s| l("label_risk_strategy_#{s}") }.to_json.html_safe %>;
      var strategyData = <%= Risk::RISK_STRATEGY.map { |s| @risks_by_strategy[s] || 0 }.to_json.html_safe %>;
      
      // Probability and Impact data
      var probabilityLabels = <%= Risk::RISK_PROBABILITY.map.with_index { |p, i| l("label_risk_probability_#{p}") }.to_json.html_safe %>;
      var impactLabels = <%= Risk::RISK_IMPACT.map.with_index { |i, idx| l("label_risk_impact_#{i}") }.to_json.html_safe %>;
      
      // Probability data
      var probabilityData = [
        <% (0..4).each do |p_idx| %>
          <%= @risks_by_probability[p_idx * 25] || 0 %>,
        <% end %>
      ];
      
      // Impact data
      var impactData = [
        <% (0..4).each do |i_idx| %>
          <%= @risks_by_impact[i_idx * 25] || 0 %>,
        <% end %>
      ];
      
      initDashboardCharts(
        statusLabels, statusData,
        strategyLabels, strategyData,
        probabilityLabels, probabilityData,
        impactLabels, impactData
      );
    });
  </script>
<% end %>