<div class="box tabular">
  <%= labelled_fields_for :risk_category_entry, @category do |f| %>
    <p>
      <%= f.text_field :name, :size => 50, :maxlength => 255, :required => true %>
    </p>
    <p>
      <%= f.text_field :code, :size => 10, :maxlength => 10 %>
      <em class="info"><%= l(:text_category_code_info) %></em>
    </p>
    <p>
      <%= f.text_area :description, :cols => 60, :rows => 5 %>
    </p>
    <p>
      <%= f.check_box :active %>
    </p>
  <% end %>
</div>
