<%= labelled_fields_for :risk, @risk do |f| %>
  <% if @risk.safe_attribute? 'subject' %>
    <p><%= f.text_field :subject, :size => 80, :maxlength => 255, :required => true %></p>
  <% end %>

  <% if @risk.safe_attribute? 'description' %>
    <p>
      <%= f.label_for_field :description %>
      <%= link_to_function content_tag(:span, l(:button_edit), :class => 'icon icon-edit'), '$(this).hide(); $("#risk_description_and_toolbar").show()' unless @risk.new_record? %>
      <%= content_tag 'span', :id => "risk_description_and_toolbar", :style => (@risk.new_record? ? nil : 'display:none') do %>
        <%= f.text_area :description,
                        :cols => 60,
                        :rows => [[10, @risk.description.to_s.length / 50].max, 20].min,
                        :accesskey => accesskey(:edit),
                        :class => 'wiki-edit',
                        :no_label => true %>
      <% end %>
    </p>

    <% if Redmine::VERSION.to_s >= '4.0' %>
      <%= wikitoolbar_for 'risk_description', preview_new_risk_path(:project_id => @risk.project) %>
    <% else %>
      <%= wikitoolbar_for 'risk_description' %>
    <% end %>
  <% end %>

  <div id="attributes" class="attributes">
    <%= render :partial => 'risks/attributes' %>
  </div>

  <% if @risk.safe_attribute?('treatments') && ! @risk.new_record? %>
    <p>
      <%= f.label_for_field :treatments %>
      <%= link_to_function content_tag(:span, l(:button_edit), :class => 'icon icon-edit'), '$(this).hide(); $("#risk_treatments_and_toolbar").show()' unless @risk.new_record? %>
      <%= content_tag 'span', :id => "risk_treatments_and_toolbar", :style => (@risk.new_record? ? nil : 'display:none') do %>
        <%= f.text_area :treatments,
                        :cols => 60,
                        :rows => [[10, @risk.treatments.to_s.length / 50].max, 20].min,
                        :accesskey => accesskey(:edit),
                        :class => 'wiki-edit',
                        :no_label => true %>
      <% end %>
    </p>
    <%= wikitoolbar_for 'risk_treatments' %>
  <% end %>

  <% if @risk.safe_attribute?('lessons') && ! @risk.new_record? %>
    <p>
      <%= f.label_for_field :lessons %>
      <%= link_to_function content_tag(:span, l(:button_edit), :class => 'icon icon-edit'), '$(this).hide(); $("#risk_lessons_and_toolbar").show()' unless @risk.new_record? %>
      <%= content_tag 'span', :id => "risk_lessons_and_toolbar", :style => (@risk.new_record? ? nil : 'display:none') do %>
        <%= f.text_area :lessons,
                        :cols => 60,
                        :rows => [[10, @risk.lessons.to_s.length / 50].max, 20].min,
                        :accesskey => accesskey(:edit),
                        :class => 'wiki-edit',
                        :no_label => true %>
      <% end %>
    </p>
    <%= wikitoolbar_for 'risk_lessons' %>
  <% end %>

  <%= call_hook(:view_risks_form_details_bottom, { :risk => @risk, :form => f }) %>

  <div class="splitcontent">
  <div class="splitcontentleft">
    <h3><%= l(:label_risk_cia_assessment) %></h3>
    
    <% if @risk.safe_attribute?('confidentiality') %>
      <p>
        <%= f.label_for_field :confidentiality %>
        <%= f.select :confidentiality, 
                     Risk::RISK_CONFIDENTIALITY.map { |c| [l("label_risk_confidentiality_#{c}"), Risk::RISK_CONFIDENTIALITY.index(c)] }, 
                     :include_blank => true %>
      </p>
    <% end %>
    
    <% if @risk.safe_attribute?('integrity') %>
      <p>
        <%= f.label_for_field :integrity %>
        <%= f.select :integrity, 
                     Risk::RISK_INTEGRITY.map { |i| [l("label_risk_integrity_#{i}"), Risk::RISK_INTEGRITY.index(i)] }, 
                     :include_blank => true %>
      </p>
    <% end %>
    
    <% if @risk.safe_attribute?('availability') %>
      <p>
        <%= f.label_for_field :availability %>
        <%= f.select :availability, 
                     Risk::RISK_AVAILABILITY.map { |a| [l("label_risk_availability_#{a}"), Risk::RISK_AVAILABILITY.index(a)] }, 
                     :include_blank => true %>
      </p>
    <% end %>
  </div>
  
  <div class="splitcontentright">
    <h3><%= l(:label_risk_ownership) %></h3>
    
    <% if @risk.safe_attribute?('risk_owner_id') %>
      <p>
        <%= f.label_for_field :risk_owner_id %>
        <%= f.select :risk_owner_id, principals_options_for_select(@risk.assignable_users, @risk.risk_owner), 
                     :include_blank => true %>
      </p>
    <% end %>
    
    <% if @risk.safe_attribute?('action_owner_id') %>
      <p>
        <%= f.label_for_field :action_owner_id %>
        <%= f.select :action_owner_id, principals_options_for_select(@risk.assignable_users, @risk.action_owner), 
                     :include_blank => true %>
      </p>
    <% end %>
  </div>
</div>

<div class="splitcontent">
  <div class="splitcontentleft">
    <h3><%= l(:label_risk_significance) %></h3>
    
    <% if @risk.safe_attribute?('probability_point') %>
      <p>
        <%= f.label_for_field :probability_point %>
        <%= f.select :probability_point, (1..10).map { |p| [p, p] }, :include_blank => true %>
        <em class="info"><%= l(:text_probability_point_info) %></em>
      </p>
    <% end %>
    
    <% if @risk.safe_attribute?('impact_point') %>
      <p>
        <%= f.label_for_field :impact_point %>
        <%= f.select :impact_point, (1..10).map { |i| [i, i] }, :include_blank => true %>
        <em class="info"><%= l(:text_impact_point_info) %></em>
      </p>
    <% end %>
    
    <% if @risk.level_of_significance.present? %>
      <p>
        <label><%= l(:field_level_of_significance) %></label>
        <span class="value"><%= @risk.level_of_significance %></span>
        <em class="info"><%= l(:text_significance_calculation_info) %></em>
      </p>
    <% end %>
  </div>
</div>
<% end %>
