<h2><%= l(:label_risk) %> #<%= @risk.id %></h2>

<%= render :partial => 'edit' %>

<% content_for :header_tags do %>
  <%= robot_exclusion_tag %>
  <%= stylesheet_link_tag 'risks', :plugin => 'redmine_risks' %>
<% end %>
