<%= render :partial => 'action_menu' %>

<h2><%= l(:label_risk) %> #<%= @risk.id %></h2>

<div class="<%= @risk.css_classes %> issue details">
  <div class="subject">
    <h3><%= @risk.subject %></h3>
  </div>

  <p class="author">
    <%= authoring @risk.created_on, @risk.author %>.
    <% if @risk.created_on != @risk.updated_on %>
      <%= l(:label_updated_time, time_tag(@risk.updated_on)).html_safe %>.
    <% end %>
  </p>

  <div class="attributes">
    <%= issue_fields_rows do |rows|
      rows.left l(:field_status), format_risk_status(@risk.status), :class => 'status'

      rows.left l(:field_assigned_to), (@risk.assigned_to ? link_to_user(@risk.assigned_to) : "-"), :class => 'assigned-to'

      rows.left l(:field_owner), (@risk.owner ? link_to_user(@risk.owner) : "-"), :class => 'owner'

      rows.left l(:field_category), (@risk.category ? @risk.category.name : "-"), :class => 'category'

      rows.left l(:field_probability), (@risk.probability.present? ? format_risk_probability(@risk.probability) : "-"), :class => 'probability'

      rows.left l(:field_impact), (@risk.impact.present? ? format_risk_impact(@risk.impact) : "-"), :class => 'impact'

      rows.left l(:field_strategy), (@risk.strategy.present? ? format_risk_strategy(@risk.strategy) : "-"), :class => 'strategy'
    end %>
  </div>

  <div class="attributes">
  <%= issue_fields_rows do |rows|
    rows.left l(:field_risk_owner), (@risk.risk_owner ? link_to_user(@risk.risk_owner) : "-"), :class => 'risk-owner'
    rows.left l(:field_action_owner), (@risk.action_owner ? link_to_user(@risk.action_owner) : "-"), :class => 'action-owner'
  end %>
</div>

<div class="attributes">
  <%= issue_fields_rows do |rows|
    rows.left l(:field_confidentiality), (@risk.confidentiality.present? ? l("label_risk_confidentiality_#{Risk::RISK_CONFIDENTIALITY[@risk.confidentiality]}") : "-"), :class => 'confidentiality'
    rows.left l(:field_integrity), (@risk.integrity.present? ? l("label_risk_integrity_#{Risk::RISK_INTEGRITY[@risk.integrity]}") : "-"), :class => 'integrity'
    rows.left l(:field_availability), (@risk.availability.present? ? l("label_risk_availability_#{Risk::RISK_AVAILABILITY[@risk.availability]}") : "-"), :class => 'availability'
  end %>
</div>

<div class="attributes">
  <%= issue_fields_rows do |rows|
    rows.left l(:field_probability_point), (@risk.probability_point.present? ? @risk.probability_point : "-"), :class => 'probability-point'
    rows.left l(:field_impact_point), (@risk.impact_point.present? ? @risk.impact_point : "-"), :class => 'impact-point'
    rows.left l(:field_level_of_significance), (@risk.level_of_significance.present? ? @risk.level_of_significance : "-"), :class => 'level-of-significance'
  end %>
</div>

  <% if @risk.description? -%>
    <hr />

    <div class="description">
      <div class="contextual">
        <%= link_to l(:button_quote), quoted_risk_path(@risk), :remote => true, :method => 'post', :class => 'icon icon-comment' if @risk.notes_addable? %>
      </div>

      <p><strong><%=l(:field_description)%></strong></p>
      <div class="wiki">
        <%= textilizable @risk, :description %>
      </div>
    </div>
  <% end -%>

  <% if @risk.treatments? %>
    <hr />

    <div class="treatments">
      <p><strong><%=l(:field_treatments)%></strong></p>
      <div class="wiki">
        <%= textilizable @risk, :treatments %>
      </div>
    </div>
  <% end %>

  <% if @risk.lessons? -%>
    <hr />

    <div class="lessons">
      <p><strong><%=l(:field_lessons)%></strong></p>
      <div class="wiki">
        <%= textilizable @risk, :lessons %>
      </div>
    </div>
  <% end -%>

</div>

<div id="relations" class="risk-section box">
  <%= render :partial => 'relations' %>
</div>

<div id="risk-activities-container" class="risk-section box">
  <%= render :partial => 'activities', :locals => { :risk => @risk } %>
</div>

<% if @journals.present? %>
  <div id="history">
    <h3><%=l(:label_history)%></h3>
    <%= render :partial => 'history', :locals => { :risk => @risk, :journals => @journals } %>
  </div>
<% end %>

<div style="clear: both;"></div>

<%= render :partial => 'action_menu' %>

<% if @risk.editable? %>
  <div id="update" style="display:none;">
    <h3><%= l(:button_edit) %></h3>
    <%= render :partial => 'edit' %>
  </div>
<% end %>

<% html_title l(:label_risk) + " ##{@risk.id}: #{@risk.subject}" %>

<%= context_menu %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'risk_activities', :plugin => 'redmine_risks' %>
<% end %>
