<h2><%= l(:label_risk_settings) %></h2>

<%= form_for @risk_project_setting, url: project_risk_settings_path(@project), method: :patch, html: { multipart: true } do |f| %>
  <%= error_messages_for @risk_project_setting %>

  <fieldset class="box">
    <legend><%= l(:label_cia_assessment_settings) %></legend>

    <p>
      <label><%= l(:field_cia_assessment_mode) %></label>
    </p>

    <p>
      <%= radio_button_tag 'risk_project_setting[cia_assessment_mode]',
                           RiskProjectSetting::CIA_MODE_LEVELS,
                           @risk_project_setting.levels_cia_mode?,
                           id: 'cia_mode_levels' %>
      <%= label_tag 'cia_mode_levels', l(:label_cia_mode_levels) %>
      <em class="info"><%= l(:text_cia_mode_levels_info) %></em>
    </p>

    <p>
      <%= radio_button_tag 'risk_project_setting[cia_assessment_mode]',
                           RiskProjectSetting::CIA_MODE_BOOLEAN,
                           @risk_project_setting.boolean_cia_mode?,
                           id: 'cia_mode_boolean' %>
      <%= label_tag 'cia_mode_boolean', l(:label_cia_mode_boolean) %>
      <em class="info"><%= l(:text_cia_mode_boolean_info) %></em>
    </p>
  </fieldset>

  <fieldset class="box">
    <legend><%= l(:label_assessment_field_visibility) %></legend>

    <p class="info"><%= l(:text_assessment_field_visibility_info) %></p>

    <p>
      <%= f.check_box :show_probability_field %>
      <%= f.label :show_probability_field, l(:field_show_probability_field) %>
      <em class="info"><%= l(:text_show_probability_field_info) %></em>
    </p>

    <p>
      <%= f.check_box :show_impact_field %>
      <%= f.label :show_impact_field, l(:field_show_impact_field) %>
      <em class="info"><%= l(:text_show_impact_field_info) %></em>
    </p>

    <p>
      <%= f.check_box :show_magnitude_field %>
      <%= f.label :show_magnitude_field, l(:field_show_magnitude_field) %>
      <em class="info"><%= l(:text_show_magnitude_field_info) %></em>
    </p>
  </fieldset>

  <fieldset class="box">
    <legend><%= l(:label_pdf_report_settings) %></legend>

    <p>
      <%= f.check_box :pdf_show_generated_time %>
      <%= f.label :pdf_show_generated_time, l(:field_pdf_show_generated_time) %>
      <em class="info"><%= l(:text_pdf_show_generated_time_info) %></em>
    </p>

    <p>
      <%= f.check_box :pdf_show_logo %>
      <%= f.label :pdf_show_logo, l(:field_pdf_show_logo) %>
    </p>

    <div id="pdf_logo_section" style="<%= 'display:none;' unless @risk_project_setting.pdf_show_logo? %>" class="pdf-logo-section">
      <% if @risk_project_setting.has_uploaded_logo? %>
        <div class="current-logo">
          <p><strong><%= l(:label_current_logo) %>:</strong></p>
          <div class="logo-preview">
            <%= image_tag url_for(controller: 'attachments', action: 'download', id: @risk_project_setting.pdf_logo_attachment.id, filename: @risk_project_setting.pdf_logo_attachment.filename),
                          style: 'max-width: 200px; max-height: 100px; border: 1px solid #ddd; padding: 5px;' %>
          </div>
          <p>
            <em><%= @risk_project_setting.pdf_logo_attachment.filename %></em>
            (<%= number_to_human_size(@risk_project_setting.pdf_logo_attachment.filesize) %>)
          </p>
          <p>
            <%= link_to l(:button_delete), delete_risk_logo_path(@project),
                        method: :delete,
                        data: { confirm: l(:text_are_you_sure) },
                        class: 'icon icon-del' %>
          </p>
        </div>
        <hr/>
      <% end %>

      <p>
        <label><%= l(:label_upload_logo) %></label>
        <%= file_field_tag :pdf_logo_file, accept: 'image/png,image/jpeg,image/gif,image/bmp' %>
        <em class="info"><%= l(:text_upload_logo_info) %></em>
      </p>

      <p>
        <em><%= l(:label_or_specify_path) %></em>
      </p>

      <p>
        <%= f.label :pdf_logo_path, l(:field_pdf_logo_path) %>
        <%= f.text_field :pdf_logo_path, size: 60 %>
        <em class="info"><%= l(:text_pdf_logo_path_info) %></em>
        <% if !@risk_project_setting.has_uploaded_logo? && @risk_project_setting.pdf_show_logo? && @risk_project_setting.pdf_logo_path.present? %>
          <% if @risk_project_setting.pdf_logo_exists? %>
            <span class="icon icon-checked" style="color: green;"><%= l(:label_logo_found) %></span>
          <% else %>
            <span class="icon icon-warning" style="color: red;"><%= l(:label_logo_not_found) %></span>
          <% end %>
        <% end %>
      </p>
    </div>

    <p>
      <%= f.check_box :pdf_show_product_name %>
      <%= f.label :pdf_show_product_name, l(:field_pdf_show_product_name) %>
    </p>

    <p id="pdf_product_name_row" style="<%= 'display:none;' unless @risk_project_setting.pdf_show_product_name? %>">
      <%= f.label :pdf_product_name, l(:field_pdf_product_name) %>
      <%= f.text_field :pdf_product_name, size: 60 %>
      <em class="info"><%= l(:text_pdf_product_name_info) %></em>
    </p>
  </fieldset>

  <p>
    <%= submit_tag l(:button_save) %>
  </p>
<% end %>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var showLogoCheckbox = document.getElementById('risk_project_setting_pdf_show_logo');
  var logoSection = document.getElementById('pdf_logo_section');
  var showProductNameCheckbox = document.getElementById('risk_project_setting_pdf_show_product_name');
  var productNameRow = document.getElementById('pdf_product_name_row');

  if (showLogoCheckbox && logoSection) {
    showLogoCheckbox.addEventListener('change', function() {
      logoSection.style.display = this.checked ? '' : 'none';
    });
  }

  if (showProductNameCheckbox && productNameRow) {
    showProductNameCheckbox.addEventListener('change', function() {
      productNameRow.style.display = this.checked ? '' : 'none';
    });
  }
});
</script>

<style>
.pdf-logo-section {
  margin-left: 20px;
  padding: 10px;
  background: #f9f9f9;
  border-left: 3px solid #ddd;
}
.current-logo {
  margin-bottom: 10px;
}
.logo-preview {
  margin: 10px 0;
}
</style>

<% has_custom_impact_settings = @impact_point_settings.any? { |s| s.persisted? } %>
<% has_custom_probability_settings = @probability_point_settings.any? { |s| s.persisted? } %>

<fieldset class="box">
  <legend><%= l(:label_impact_point_settings) %></legend>

  <p class="info"><%= l(:text_impact_point_settings_info) %></p>

  <% if has_custom_impact_settings %>
    <%= form_tag update_risk_impact_points_path(@project), method: :patch do %>
      <table class="list point-settings-table">
        <thead>
          <tr>
            <th><%= l(:field_score) %></th>
            <th><%= l(:field_label) %></th>
            <th><%= l(:field_description) %></th>
            <th><%= l(:field_position) %></th>
            <th><%= l(:field_active) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @impact_point_settings.each do |setting| %>
            <tr class="<%= cycle('odd', 'even') %>">
              <td>
                <%= text_field_tag "impact_point_settings[#{setting.id}][score]", setting.score, size: 5, class: 'point-score' %>
              </td>
              <td>
                <%= text_field_tag "impact_point_settings[#{setting.id}][label]", setting.label, size: 20 %>
              </td>
              <td>
                <%= text_field_tag "impact_point_settings[#{setting.id}][description]", setting.description, size: 50 %>
              </td>
              <td>
                <%= text_field_tag "impact_point_settings[#{setting.id}][position]", setting.position, size: 5 %>
              </td>
              <td>
                <%= check_box_tag "impact_point_settings[#{setting.id}][active]", '1', setting.active %>
                <%= hidden_field_tag "impact_point_settings[#{setting.id}][active]", '0', id: nil %>
              </td>
              <td>
                <%= link_to l(:button_delete),
                            delete_risk_impact_point_path(@project, setting_id: setting.id),
                            method: :delete,
                            data: { confirm: l(:text_are_you_sure) },
                            class: 'icon icon-del' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= submit_tag l(:button_save) %></p>
    <% end %>

    <h4><%= l(:label_add_impact_point) %></h4>
    <%= form_tag add_risk_impact_point_path(@project), method: :post do %>
      <p>
        <label><%= l(:field_score) %></label>
        <%= text_field_tag 'impact_point_setting[score]', '', size: 5 %>
        <label><%= l(:field_label) %></label>
        <%= text_field_tag 'impact_point_setting[label]', '', size: 20 %>
        <label><%= l(:field_description) %></label>
        <%= text_field_tag 'impact_point_setting[description]', '', size: 40 %>
        <%= submit_tag l(:button_add), class: 'small' %>
      </p>
    <% end %>
  <% else %>
    <p><em><%= l(:text_using_default_impact_settings) %></em></p>
    <table class="list point-settings-table">
      <thead>
        <tr>
          <th><%= l(:field_score) %></th>
          <th><%= l(:field_label) %></th>
          <th><%= l(:field_description) %></th>
        </tr>
      </thead>
      <tbody>
        <% @impact_point_settings.each do |setting| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= setting.score %></td>
            <td><%= setting.label %></td>
            <td><%= setting.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
      <%= link_to l(:button_customize_impact_points),
                  initialize_risk_point_settings_path(@project),
                  method: :post,
                  class: 'icon icon-add' %>
      <em class="info"><%= l(:text_customize_points_info) %></em>
    </p>
  <% end %>
</fieldset>

<fieldset class="box">
  <legend><%= l(:label_probability_point_settings) %></legend>

  <p class="info"><%= l(:text_probability_point_settings_info) %></p>

  <% if has_custom_probability_settings %>
    <%= form_tag update_risk_probability_points_path(@project), method: :patch do %>
      <table class="list point-settings-table">
        <thead>
          <tr>
            <th><%= l(:field_score) %></th>
            <th><%= l(:field_label) %></th>
            <th><%= l(:field_description) %></th>
            <th><%= l(:field_position) %></th>
            <th><%= l(:field_active) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @probability_point_settings.each do |setting| %>
            <tr class="<%= cycle('odd', 'even') %>">
              <td>
                <%= text_field_tag "probability_point_settings[#{setting.id}][score]", setting.score, size: 5, class: 'point-score' %>
              </td>
              <td>
                <%= text_field_tag "probability_point_settings[#{setting.id}][label]", setting.label, size: 20 %>
              </td>
              <td>
                <%= text_field_tag "probability_point_settings[#{setting.id}][description]", setting.description, size: 50 %>
              </td>
              <td>
                <%= text_field_tag "probability_point_settings[#{setting.id}][position]", setting.position, size: 5 %>
              </td>
              <td>
                <%= check_box_tag "probability_point_settings[#{setting.id}][active]", '1', setting.active %>
                <%= hidden_field_tag "probability_point_settings[#{setting.id}][active]", '0', id: nil %>
              </td>
              <td>
                <%= link_to l(:button_delete),
                            delete_risk_probability_point_path(@project, setting_id: setting.id),
                            method: :delete,
                            data: { confirm: l(:text_are_you_sure) },
                            class: 'icon icon-del' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= submit_tag l(:button_save) %></p>
    <% end %>

    <h4><%= l(:label_add_probability_point) %></h4>
    <%= form_tag add_risk_probability_point_path(@project), method: :post do %>
      <p>
        <label><%= l(:field_score) %></label>
        <%= text_field_tag 'probability_point_setting[score]', '', size: 5 %>
        <label><%= l(:field_label) %></label>
        <%= text_field_tag 'probability_point_setting[label]', '', size: 20 %>
        <label><%= l(:field_description) %></label>
        <%= text_field_tag 'probability_point_setting[description]', '', size: 40 %>
        <%= submit_tag l(:button_add), class: 'small' %>
      </p>
    <% end %>
  <% else %>
    <p><em><%= l(:text_using_default_probability_settings) %></em></p>
    <table class="list point-settings-table">
      <thead>
        <tr>
          <th><%= l(:field_score) %></th>
          <th><%= l(:field_label) %></th>
          <th><%= l(:field_description) %></th>
        </tr>
      </thead>
      <tbody>
        <% @probability_point_settings.each do |setting| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= setting.score %></td>
            <td><%= setting.label %></td>
            <td><%= setting.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
      <%= link_to l(:button_customize_probability_points),
                  initialize_risk_point_settings_path(@project),
                  method: :post,
                  class: 'icon icon-add' %>
      <em class="info"><%= l(:text_customize_points_info) %></em>
    </p>
  <% end %>
</fieldset>

<style>
  .point-settings-table { margin: 10px 0; }
  .point-settings-table th { text-align: left; padding: 6px 8px; }
  .point-settings-table td { padding: 4px 8px; }
  .point-settings-table input[type="text"] { margin: 0; }
  .point-settings-table .point-score { width: 50px; }
  .settings-table { margin: 10px 0; width: 100%; }
  .settings-table th { text-align: left; padding: 6px 8px; background: #f5f5f5; }
  .settings-table td { padding: 4px 8px; border-bottom: 1px solid #eee; }
  .settings-table input[type="text"] { margin: 0; }
  .entry-library { background: #fafafa; padding: 10px; margin: 10px 0; border-radius: 4px; }
  .entry-library-list { list-style: none; padding: 0; margin: 10px 0; }
  .entry-library-list li { padding: 5px 10px; border-bottom: 1px solid #eee; display: flex; justify-content: space-between; align-items: center; }
  .entry-library-list li:last-child { border-bottom: none; }
  .usage-count { color: #888; font-size: 0.9em; }
</style>

<%# Strategy Settings %>
<% has_custom_strategy_settings = @strategy_settings.any? { |s| s.persisted? } %>

<fieldset class="box">
  <legend><%= l(:label_strategy_settings) %></legend>

  <p class="info"><%= l(:text_strategy_settings_info) %></p>

  <% if has_custom_strategy_settings %>
    <%= form_tag update_risk_strategy_settings_path(@project), method: :patch do %>
      <table class="list settings-table">
        <thead>
          <tr>
            <th><%= l(:field_key) %></th>
            <th><%= l(:field_label) %></th>
            <th><%= l(:field_description) %></th>
            <th><%= l(:field_position) %></th>
            <th><%= l(:field_active) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @strategy_settings.each do |setting| %>
            <tr class="<%= cycle('odd', 'even') %>">
              <td><%= text_field_tag "strategy_settings[#{setting.id}][key]", setting.key, size: 15 %></td>
              <td><%= text_field_tag "strategy_settings[#{setting.id}][label]", setting.label, size: 20 %></td>
              <td><%= text_field_tag "strategy_settings[#{setting.id}][description]", setting.description, size: 40 %></td>
              <td><%= text_field_tag "strategy_settings[#{setting.id}][position]", setting.position, size: 5 %></td>
              <td>
                <%= check_box_tag "strategy_settings[#{setting.id}][active]", '1', setting.active %>
                <%= hidden_field_tag "strategy_settings[#{setting.id}][active]", '0', id: nil %>
              </td>
              <td>
                <%= link_to l(:button_delete),
                            delete_risk_strategy_setting_path(@project, setting_id: setting.id),
                            method: :delete,
                            data: { confirm: l(:text_are_you_sure) },
                            class: 'icon icon-del' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= submit_tag l(:button_save) %></p>
    <% end %>

    <h4><%= l(:label_add_strategy) %></h4>
    <%= form_tag add_risk_strategy_setting_path(@project), method: :post do %>
      <p>
        <label><%= l(:field_key) %></label>
        <%= text_field_tag 'strategy_setting[key]', '', size: 15 %>
        <label><%= l(:field_label) %></label>
        <%= text_field_tag 'strategy_setting[label]', '', size: 20 %>
        <label><%= l(:field_description) %></label>
        <%= text_field_tag 'strategy_setting[description]', '', size: 30 %>
        <%= submit_tag l(:button_add), class: 'small' %>
      </p>
    <% end %>
  <% else %>
    <p><em><%= l(:text_using_default_strategy_settings) %></em></p>
    <table class="list settings-table">
      <thead>
        <tr>
          <th><%= l(:field_key) %></th>
          <th><%= l(:field_label) %></th>
          <th><%= l(:field_description) %></th>
        </tr>
      </thead>
      <tbody>
        <% @strategy_settings.each do |setting| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= setting.key %></td>
            <td><%= setting.label %></td>
            <td><%= setting.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
      <%= link_to l(:button_customize_strategy),
                  initialize_risk_strategy_settings_path(@project),
                  method: :post,
                  class: 'icon icon-add' %>
    </p>
  <% end %>
</fieldset>

<%# Probability Entry Settings %>
<% has_custom_probability_entry_settings = @probability_entry_settings.any? { |s| s.persisted? } %>

<fieldset class="box">
  <legend><%= l(:label_probability_entry_settings) %></legend>

  <p class="info"><%= l(:text_probability_entry_settings_info) %></p>

  <% if has_custom_probability_entry_settings %>
    <%= form_tag update_risk_probability_entry_settings_path(@project), method: :patch do %>
      <table class="list settings-table">
        <thead>
          <tr>
            <th><%= l(:field_key) %></th>
            <th><%= l(:field_label) %></th>
            <th><%= l(:field_description) %></th>
            <th><%= l(:field_position) %></th>
            <th><%= l(:field_active) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @probability_entry_settings.each do |setting| %>
            <tr class="<%= cycle('odd', 'even') %>">
              <td><%= text_field_tag "probability_entry_settings[#{setting.id}][key]", setting.key, size: 15 %></td>
              <td><%= text_field_tag "probability_entry_settings[#{setting.id}][label]", setting.label, size: 20 %></td>
              <td><%= text_field_tag "probability_entry_settings[#{setting.id}][description]", setting.description, size: 40 %></td>
              <td><%= text_field_tag "probability_entry_settings[#{setting.id}][position]", setting.position, size: 5 %></td>
              <td>
                <%= check_box_tag "probability_entry_settings[#{setting.id}][active]", '1', setting.active %>
                <%= hidden_field_tag "probability_entry_settings[#{setting.id}][active]", '0', id: nil %>
              </td>
              <td>
                <%= link_to l(:button_delete),
                            delete_risk_probability_entry_setting_path(@project, setting_id: setting.id),
                            method: :delete,
                            data: { confirm: l(:text_are_you_sure) },
                            class: 'icon icon-del' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= submit_tag l(:button_save) %></p>
    <% end %>

    <h4><%= l(:label_add_probability_entry) %></h4>
    <%= form_tag add_risk_probability_entry_setting_path(@project), method: :post do %>
      <p>
        <label><%= l(:field_key) %></label>
        <%= text_field_tag 'probability_entry_setting[key]', '', size: 15 %>
        <label><%= l(:field_label) %></label>
        <%= text_field_tag 'probability_entry_setting[label]', '', size: 20 %>
        <label><%= l(:field_description) %></label>
        <%= text_field_tag 'probability_entry_setting[description]', '', size: 30 %>
        <%= submit_tag l(:button_add), class: 'small' %>
      </p>
    <% end %>
  <% else %>
    <p><em><%= l(:text_using_default_probability_entry_settings) %></em></p>
    <table class="list settings-table">
      <thead>
        <tr>
          <th><%= l(:field_key) %></th>
          <th><%= l(:field_label) %></th>
          <th><%= l(:field_description) %></th>
        </tr>
      </thead>
      <tbody>
        <% @probability_entry_settings.each do |setting| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= setting.key %></td>
            <td><%= setting.label %></td>
            <td><%= setting.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
      <%= link_to l(:button_customize_probability_entries),
                  initialize_risk_probability_entry_settings_path(@project),
                  method: :post,
                  class: 'icon icon-add' %>
    </p>
  <% end %>
</fieldset>

<%# Impact Entry Settings %>
<% has_custom_impact_entry_settings = @impact_entry_settings.any? { |s| s.persisted? } %>

<fieldset class="box">
  <legend><%= l(:label_impact_entry_settings) %></legend>

  <p class="info"><%= l(:text_impact_entry_settings_info) %></p>

  <% if has_custom_impact_entry_settings %>
    <%= form_tag update_risk_impact_entry_settings_path(@project), method: :patch do %>
      <table class="list settings-table">
        <thead>
          <tr>
            <th><%= l(:field_key) %></th>
            <th><%= l(:field_label) %></th>
            <th><%= l(:field_description) %></th>
            <th><%= l(:field_position) %></th>
            <th><%= l(:field_active) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @impact_entry_settings.each do |setting| %>
            <tr class="<%= cycle('odd', 'even') %>">
              <td><%= text_field_tag "impact_entry_settings[#{setting.id}][key]", setting.key, size: 15 %></td>
              <td><%= text_field_tag "impact_entry_settings[#{setting.id}][label]", setting.label, size: 20 %></td>
              <td><%= text_field_tag "impact_entry_settings[#{setting.id}][description]", setting.description, size: 40 %></td>
              <td><%= text_field_tag "impact_entry_settings[#{setting.id}][position]", setting.position, size: 5 %></td>
              <td>
                <%= check_box_tag "impact_entry_settings[#{setting.id}][active]", '1', setting.active %>
                <%= hidden_field_tag "impact_entry_settings[#{setting.id}][active]", '0', id: nil %>
              </td>
              <td>
                <%= link_to l(:button_delete),
                            delete_risk_impact_entry_setting_path(@project, setting_id: setting.id),
                            method: :delete,
                            data: { confirm: l(:text_are_you_sure) },
                            class: 'icon icon-del' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= submit_tag l(:button_save) %></p>
    <% end %>

    <h4><%= l(:label_add_impact_entry) %></h4>
    <%= form_tag add_risk_impact_entry_setting_path(@project), method: :post do %>
      <p>
        <label><%= l(:field_key) %></label>
        <%= text_field_tag 'impact_entry_setting[key]', '', size: 15 %>
        <label><%= l(:field_label) %></label>
        <%= text_field_tag 'impact_entry_setting[label]', '', size: 20 %>
        <label><%= l(:field_description) %></label>
        <%= text_field_tag 'impact_entry_setting[description]', '', size: 30 %>
        <%= submit_tag l(:button_add), class: 'small' %>
      </p>
    <% end %>
  <% else %>
    <p><em><%= l(:text_using_default_impact_entry_settings) %></em></p>
    <table class="list settings-table">
      <thead>
        <tr>
          <th><%= l(:field_key) %></th>
          <th><%= l(:field_label) %></th>
          <th><%= l(:field_description) %></th>
        </tr>
      </thead>
      <tbody>
        <% @impact_entry_settings.each do |setting| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= setting.key %></td>
            <td><%= setting.label %></td>
            <td><%= setting.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
      <%= link_to l(:button_customize_impact_entries),
                  initialize_risk_impact_entry_settings_path(@project),
                  method: :post,
                  class: 'icon icon-add' %>
    </p>
  <% end %>
</fieldset>

<%# Treatment Plan Settings %>
<% has_custom_treatment_plan_settings = @treatment_plan_settings.any? { |s| s.persisted? } %>

<fieldset class="box">
  <legend><%= l(:label_treatment_plan_settings) %></legend>

  <p class="info"><%= l(:text_treatment_plan_settings_info) %></p>

  <% if has_custom_treatment_plan_settings %>
    <%= form_tag update_risk_treatment_plan_settings_path(@project), method: :patch do %>
      <table class="list settings-table">
        <thead>
          <tr>
            <th><%= l(:field_key) %></th>
            <th><%= l(:field_label) %></th>
            <th><%= l(:field_description) %></th>
            <th><%= l(:field_position) %></th>
            <th><%= l(:field_active) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @treatment_plan_settings.each do |setting| %>
            <tr class="<%= cycle('odd', 'even') %>">
              <td><%= text_field_tag "treatment_plan_settings[#{setting.id}][key]", setting.key, size: 15 %></td>
              <td><%= text_field_tag "treatment_plan_settings[#{setting.id}][label]", setting.label, size: 20 %></td>
              <td><%= text_field_tag "treatment_plan_settings[#{setting.id}][description]", setting.description, size: 40 %></td>
              <td><%= text_field_tag "treatment_plan_settings[#{setting.id}][position]", setting.position, size: 5 %></td>
              <td>
                <%= check_box_tag "treatment_plan_settings[#{setting.id}][active]", '1', setting.active %>
                <%= hidden_field_tag "treatment_plan_settings[#{setting.id}][active]", '0', id: nil %>
              </td>
              <td>
                <%= link_to l(:button_delete),
                            delete_risk_treatment_plan_setting_path(@project, setting_id: setting.id),
                            method: :delete,
                            data: { confirm: l(:text_are_you_sure) },
                            class: 'icon icon-del' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= submit_tag l(:button_save) %></p>
    <% end %>

    <h4><%= l(:label_add_treatment_plan) %></h4>
    <%= form_tag add_risk_treatment_plan_setting_path(@project), method: :post do %>
      <p>
        <label><%= l(:field_key) %></label>
        <%= text_field_tag 'treatment_plan_setting[key]', '', size: 15 %>
        <label><%= l(:field_label) %></label>
        <%= text_field_tag 'treatment_plan_setting[label]', '', size: 20 %>
        <label><%= l(:field_description) %></label>
        <%= text_field_tag 'treatment_plan_setting[description]', '', size: 30 %>
        <%= submit_tag l(:button_add), class: 'small' %>
      </p>
    <% end %>
  <% else %>
    <p><em><%= l(:text_using_default_treatment_plan_settings) %></em></p>
    <table class="list settings-table">
      <thead>
        <tr>
          <th><%= l(:field_key) %></th>
          <th><%= l(:field_label) %></th>
          <th><%= l(:field_description) %></th>
        </tr>
      </thead>
      <tbody>
        <% @treatment_plan_settings.each do |setting| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= setting.key %></td>
            <td><%= setting.label %></td>
            <td><%= setting.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
      <%= link_to l(:button_customize_treatment_plans),
                  initialize_risk_treatment_plan_settings_path(@project),
                  method: :post,
                  class: 'icon icon-add' %>
    </p>
  <% end %>
</fieldset>

<%# Vulnerability Library %>
<fieldset class="box">
  <legend><%= l(:label_vulnerability_entries) %></legend>
  <p class="info"><%= l(:text_vulnerability_entries_info) %></p>

  <% if @vulnerability_entries.any? %>
    <div class="entry-library">
      <ul class="entry-library-list">
        <% @vulnerability_entries.each do |entry| %>
          <li>
            <span><strong><%= entry.name %></strong> <span class="usage-count">(<%= l(:label_usage_count) %> <%= entry.usage_count %> <%= l(:label_risks_using) %>)</span></span>
            <% if entry.deletable? %>
              <%= link_to l(:button_delete),
                          delete_risk_vulnerability_entry_path(@project, entry_id: entry.id),
                          method: :delete,
                          data: { confirm: l(:text_are_you_sure) },
                          class: 'icon icon-del' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <p><em><%= l(:label_no_data) %></em></p>
  <% end %>

  <h4><%= l(:label_add_entry) %></h4>
  <%= form_tag add_risk_vulnerability_entry_path(@project), method: :post do %>
    <p>
      <label><%= l(:field_name) %></label>
      <%= text_field_tag 'vulnerability_entry[name]', '', size: 30 %>
      <label><%= l(:field_description) %></label>
      <%= text_field_tag 'vulnerability_entry[description]', '', size: 40 %>
      <%= submit_tag l(:button_add), class: 'small' %>
    </p>
  <% end %>
</fieldset>

<%# Consequence Library %>
<fieldset class="box">
  <legend><%= l(:label_consequence_entries) %></legend>
  <p class="info"><%= l(:text_consequence_entries_info) %></p>

  <% if @consequence_entries.any? %>
    <div class="entry-library">
      <ul class="entry-library-list">
        <% @consequence_entries.each do |entry| %>
          <li>
            <span><strong><%= entry.name %></strong> <span class="usage-count">(<%= l(:label_usage_count) %> <%= entry.usage_count %> <%= l(:label_risks_using) %>)</span></span>
            <% if entry.deletable? %>
              <%= link_to l(:button_delete),
                          delete_risk_consequence_entry_path(@project, entry_id: entry.id),
                          method: :delete,
                          data: { confirm: l(:text_are_you_sure) },
                          class: 'icon icon-del' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <p><em><%= l(:label_no_data) %></em></p>
  <% end %>

  <h4><%= l(:label_add_entry) %></h4>
  <%= form_tag add_risk_consequence_entry_path(@project), method: :post do %>
    <p>
      <label><%= l(:field_name) %></label>
      <%= text_field_tag 'consequence_entry[name]', '', size: 30 %>
      <label><%= l(:field_description) %></label>
      <%= text_field_tag 'consequence_entry[description]', '', size: 40 %>
      <%= submit_tag l(:button_add), class: 'small' %>
    </p>
  <% end %>
</fieldset>

<%# Counter-measure Library %>
<fieldset class="box">
  <legend><%= l(:label_counter_measure_entries) %></legend>
  <p class="info"><%= l(:text_counter_measure_entries_info) %></p>

  <% if @counter_measure_entries.any? %>
    <div class="entry-library">
      <ul class="entry-library-list">
        <% @counter_measure_entries.each do |entry| %>
          <li>
            <span><strong><%= entry.name %></strong> <span class="usage-count">(<%= l(:label_usage_count) %> <%= entry.usage_count %> <%= l(:label_risks_using) %>)</span></span>
            <% if entry.deletable? %>
              <%= link_to l(:button_delete),
                          delete_risk_counter_measure_entry_path(@project, entry_id: entry.id),
                          method: :delete,
                          data: { confirm: l(:text_are_you_sure) },
                          class: 'icon icon-del' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <p><em><%= l(:label_no_data) %></em></p>
  <% end %>

  <h4><%= l(:label_add_entry) %></h4>
  <%= form_tag add_risk_counter_measure_entry_path(@project), method: :post do %>
    <p>
      <label><%= l(:field_name) %></label>
      <%= text_field_tag 'counter_measure_entry[name]', '', size: 30 %>
      <label><%= l(:field_description) %></label>
      <%= text_field_tag 'counter_measure_entry[description]', '', size: 40 %>
      <%= submit_tag l(:button_add), class: 'small' %>
    </p>
  <% end %>
</fieldset>
